{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Faiz Elahi | Assignment</title>
    <link rel="stylesheet" href="{% static 'css/view-book.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
</head>
<body>
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md">
            <ul class="filter">
              <li>
                <a id="all">All</a>
              </li>

              <li>
                <a id="red">Genre</a>
              </li>

              <li>
                <a id="green">Language</a>
              </li>
            </ul>

            <div id="showcase">
                {% for j in filter_lang %}
                <div class="all green"><input type="checkbox" onclick="check_box('{{j}}')"> {{j}}</div>
                {% endfor %}
                {% for j in filter_gen %}
                <div class="all red"><input type="checkbox" onclick="check_box('{{j}}')"> {{j}}</div>
                {% endfor %}

                <button class="all" onclick="check_box(1)" style="background-color: rgba(100,100,100,1)"><b>Filter</b></button>
            </div>
        </div>
    </div>
    <div class="row">
        {% for bk in book %}
        <div class="col-md-4 cards" id="{{bk.id}}">
            <div class="col max-mb-30 aos-init aos-animate" data-aos="fade-up"> <a href="detailed-view/{{bk.id}}" class="icon-box text-center" data-bg-color="#fff" style="background-color: rgb(255, 255, 255);" data-abc="true">
                {% if forloop.counter == 1 %}
                <div class="icon"> <img src="https://i.imgur.com/CBU1h2t.png" width="240" height="190"> </div>
                {% elif forloop.counter == 2 %}
                <div class="icon"> <img src="https://i.imgur.com/Ckggrwe.png" width="240" height="190"> </div>
                {% elif forloop.counter == 3 %}
                <div class="icon"> <img src="https://i.imgur.com/IUlCVE2.png" width="240" height="190"> </div>
                {% else %}
                <div class="icon"> <img src="https://i.imgur.com/CBU1h2t.png" width="240" height="190"> </div>
                {% endif %}
                    <div class="content">
                        <h3 class="title fz-20">{{bk.name}}</h3>
                        <div class="desc">
                            <p>{{bk.author}}</p>
                            <p>{{bk.genre}}</p>
                        </div>
                        <span class="link">{{bk.language}} <i class="fa fa-arrow-right"></i></span>
                    </div>
                </a> </div>
        </div>
        {% endfor %}
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="{% static 'js/my_script.js' %}"></script>

</body>
</html>